.login-hide {
  display: none;
}
.pic {
  width: 150px;
}
.giphPick {
  width: 500px;
}
.header-container a {
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-top: 15%;
  text-decoration: none;
  font-size: 65px;
  -webkit-transition: 30s;
          transition: 30s;
}
.header-container a:hover {
  -webkit-transition: 30s;
          transition: 30s;
  color: #114a50;
}
.giphy {
  text-align: center;
  border: 0px;
}
.light-font {
  color: #114a50;
}
.highlightedText {
  background: #ff0;
}
