.header-container {
  text-align: center;
}
.header-container a {
  margin-top: 15%;
  text-decoration: none;
}
.giphy {
  text-align: center;
}
.light-font {
  color: #5075c8;
}
@media (max-width: 550px) {
  .header-container a {
    margin-top: 0;
  }
}
