<div class="container">
    <div class="row">
        <div class="offset-by-two eight columns">
            <div class="6 columns">
                <h2>Register</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-by-two ten columns">
            <div class="ten columns">
                <form ng-submit='register()'>
                    <div class="form-group">
                        <input class='u-full-width' type="text" ng-model='user.email' placeholder='email'>
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model='user.pw' class='u-full-width' placeholder='password'>
                    </div>
                    <div class="form-group">
                        
                            <button class='button-primary u-full-width' type='submit'>Register</button>
                            <social page='Login'></social>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- end of container -->
