<div class="social-logins">
  <!-- <h4 class="text-center">Or, {{page}} with a Service Below</h4> -->
<!--   <div class="col-sm-3 point" ng-click="registerWithProvider('facebook')">
    <img src="images/fb.png" />
  </div>
  <div class="col-sm-3 point" ng-click="registerWithProvider('github')">
    <img src="images/github.jpg" /> -->
  <!-- </div> -->


  <div ng-click="registerWithProvider('google')">
   <button class='button u-full-width'>
     
     <img src="images/google-plus-icon.png" alt="google+" class='gIcon'>
      <span>google+ login</span>
      
   </button>
  </div>
 <!--  <div class="col-sm-3 point" ng-click="registerWithProvider('twitter')">
    <img src="images/twitter.jpg" />
  </div> -->
</div>
