$blue = #114A50
$cream = #FFFACB
$yellow = #FECB3E
$orange = #D18D2A
$red = #AD3526

.login-hide
	display none
	
.pic
	width 150px

html
	// background $cream

.header-container a 
	text-align: center	
	font-family: 'Lobster', cursive;
	margin-top 15%
	text-decoration none
	font-size 65px
	&:hover
		color $blue
	
.giphy 
	text-align center


.light-font
	color $blue

.highlightedText {
  background: yellow;
}


// .main-line
// 	background-image url('../images/ablue.jpg')
// 	background-size cover
	

