$blue = #114A50
$cream = #FFFACB
$yellow = #FECB3E
$orange = #D18D2A
$red = #AD3526

$keyframe-name = pulse
@keyframes {$keyframe-name}
  for i in 0..10
    {10% * i}
      opacity (i/10)

html
	// background $cream

.header-container a 	
	margin-top 15%
	text-decoration none
	font-size 90px
	transition 2s
	&:hover
		color $blue
		transition 2s
	
.giphy 
	text-align center


.light-font
	color $blue

// .main-line
// 	background-image url('../images/ablue.jpg')
// 	background-size cover
	

