$blue = #5075C8

.header-container
	text-align center
	background $blue

.header-container a 
	margin-top 15%

.main-line
	text-align center
	background-img url(images/ablue.jpg)
	
@media (max-width: 550px)
	.header-container a
		margin-top 0
