<nav class='nav'>
    <div class='u-pull-right'>
        <a class='button' href='#/login'>login</a>
    </div>
</nav>

<div class="container">
	<div class="row">
		<div class="offset-by-two eight columns">
			<div class="6 columns">
				<h2>Welcome</h2>
				<h5>Today is {{ day }} {{ date | date:'MMMM-dd-yyyy'}} </h5>
			</div>	
		</div>	
	</div>	
</div>
  
<div class="container">

	<div class="row">		
			<div class='offset-by-two eight columns'>
				<form ng-submit="searchGiphy(uInput)">
					<input class='2 columns' type="text"  ng-model='uInput' placeholder='search giphy - press enter to refresh'>		
				</form>
		</div>
	</div>	
	
	<div class="row">
		<div class="offset-by-two eight columns">
		<div ng-hide="!giph">
			<img class='giphy 6 columns' ng-src ='{{giph}}' />
				
			<h6>{{giph}}</h6>
		</div>
		</div>		
	</div>	

<br>

	<div class="row">
		<div class='offset-by-two eight columns'>
			<div ng-hide='!giph'>
				<button class='button-primary 2 columns' ng-click='saveGiphy()' ng-submit="addGif()" type='submit'>hold gif</button>
				<!-- <button ng-click='refresh()'>refresh giph</button> -->
			</div>
		</div>
	</div>

	<div class="row">
		<div class='offset-by-two eight columns'>
			<div class='saved-giphS'>
			<!-- <img ng-src='{{giphyArr[0]}}' /> -->
				<div class='saved-background'>
    			<div ng-animate=" 'animate ' " ng-repeat="x in giphyObj track by $index">
        		<img ng-src='{{x.pic}}' class='pic'/>
        		<h6 class='url'>{{x.url}}</h6>
    			</div>
			</div>

			</div>
		</div>	
	</div>
