<div class="container">

<nav class='nav'>
    <div class='u-pull-right'>
        <a class='button' href='#/login'>login</a>
    </div>
</nav>

<div class="container">
<h1>Welcome</h1>
<h4>Today is {{ day }} {{ date | date:'MMMM-dd-yyyy'}} </h4>

  
	<div class='container'>
	    <div class="row">
	        <div class="u-full-width">
	            <!--  <h3> {{ nameToday }}</h3> -->
	        </div>
	    </div>
	</div>		



<div class="container">
	<div class="row">		
	<!-- <img ng-src='{{ cats }}' /> -->
	<form ng-submit="searchGiphy(uInput)">
		<input class='u-full-width' type="text"  ng-model='uInput' placeholder='search giphy'>		
	</form>

	<img class='giphy' ng-src ='{{giph}}' />
		<div ng-hide="!giph">
			<h6>embed url: {{giph}} </h6>
		</div>
	<br>

	<div class="row">
		<!-- <div ng-hide='!giph'> -->
			<button class='button-primary' ng-click='saveGiphy()'>save giph</button>
			<button ng-click='refreshImg()'>refresh giph</button>
		<!-- </div> -->
	</div>

	<div class='saved-giphS'>
		<!-- <img ng-src='{{giphyArr[0]}}' /> -->
		<img ng-src='{{giphyObj.pic}}' />
		<h6>embed url: {{giphyObj.url}}</h6>
	</div>

	<div ng-repeat='pic in collection track by giphyObj.pic'>
		{{pic.pic}}
	</div>

</div>
</div>


</div>
<!-- </div>
			http://media.giphy.com/media/wdh1SvEn0E06I/giphy.gif
</div> -->

