<!-- <div class="container">




<div class="container u-width-full">

<h1>i'm login view</h1>

<form ng-submit="user.name"></form>

<form ng-submit='addMessage()'>
	<input type="text" ng-model='message'>
	<input type="submit" value='AddMessage'>
</form>
</div>


</div> -->

<div class="container">

<nav class='nav'>
    <div class='u-pull-right'>
        <a class='button' href='#/'>Home</a>
    </div>
</nav>

<div class="container">
	<h1>Login</h1>
	<h4>sign-in or create a new account</h4>
  		
  <div class="container">
    <div class="row">
        <!-- <img ng-src='{{ cats }}' /> -->
        <input class='u-full-width' type="text" ng-model='example.text' placeholder='username'>
        <button class='button-primary' type='submit' ng-click="inputUser()">submit</button>
    </div>
	</div>
		
	<p>test paragraph</p>
	<!-- <img class='giphy' ng-src ='{{ giph.data.images.fixed_height.url }}' /> -->




</div>
			http://media.giphy.com/media/wdh1SvEn0E06I/giphy.gif
</div>