<div class="container">

<!-- <nav class='nav'>
    <div class='u-pull-right'>
        <a class='button' href='#/'>Home</a>
    </div>
</nav> -->

<div class="container">
	<h1>Login</h1>
	<h4>sign-in or create a new account</h4>
  		
  <div class="container">
    <div class="row">
        <!-- <img ng-src='{{ cats }}' /> -->
        <input class='u-full-width' type="text" ng-model='example.text' placeholder='username'>
        <button class='button-primary' type='submit' ng-click="inputUser()">submit</button>
    </div>
</div>
</div>
<div>
